/* responsive styles for tablet devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-container{
        flex-direction: column;
        padding: 15px 0;
    }
    .logo-container{
        width: 100%;
        justify-content: center;
    }
    .nav-items-container {
        width: 70%;
        justify-content: center;
        gap: 20px;
    }
    .banner-container {
        flex-direction: column-reverse;
    }
    .login-btn, .banner-text, .banner-img{
        text-align: center;
        width: 100%;
    }
    /* banner responsive styles ends here  */
    .products-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    /* products responsive styles ends here  */
}



/* responsive styles for mobile devices */

@media screen and (max-width: 576px) {
    .nav-container{
        padding: 10px 0 20px;
    }
    .nav-container, .logo-container, .nav-items-container, .buy-now{
        flex-direction: column;
    }
    .logo-container, .nav-items-container {
        width: 100%;
        align-items: center;
    }
    .logo-container img {
        width: 100px;
    }
    .logo-container p{
        margin-left: 0;
        margin-top: 5px;
    }
    .nav-items-container{
        gap: 20px;
    }

    /* nav responsive styles ends here  */
    
    .login-btn, .banner-text, .banner-img{
        text-align: center;
        width: 100%;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .social-icons, .links{
        flex-wrap: wrap;
    }
    /* banner responsive styles ends here  */
    .products-container{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .single-product{
        text-align: center;
    }
    .buy-now{
        gap: 20px;
    }
    /* products responsive styles ends here  */
}