@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');

/* lato fonts from google fonts ends here  */

*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
img{
    width: 100%;
}
.btn-primary{
    border: 2px solid #9376e0;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
}

/* common styles ends here  */

nav{
    background-color: #9376e0;
}
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    width: 50%;
}
.logo-container p{
    font-size: 30px;
    margin-left: 20px;
    color: #ffffff;
}
.hive{
    color: #e893cf;
}
.logo-container img{
    width: 50px;
    object-fit: cover;
}
.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container a{
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
}
.login-btn{
    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    
}
a.login-btn{
    color: black;
}
.login-btn i{
    color: #9376e0;
}

/* nav section styles ends here  */

.banner-container{
    margin: 50px auto;
    max-width: 1400px;
    display: flex;
    padding: 10px;
    background-color: #e6e9eb;
    border-radius: 10px;
}
.banner-text{
    width: 50%;
    text-align: center;
}
.banner-text h1{
    background-image: linear-gradient(to top, #e893cf, #9376e0);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 3rem;
}
.banner-text p{
    font-size: 2.75rem;
    font-family: 'Dancing Script', cursive;
}
.social-icons{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.fa-brands{
    font-size: 50px;
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #55acee;
}
.fa-youtube{
    color: #cd201f;
}
.fa-square-instagram{
    color: #e893cf;
}
.links{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.banner-img{
    width: 50%;
    border-radius: 30px;
}
.banner-img img{
    border-radius: 10px;
}

/* banner section styles ends here  */
.products{
    max-width: 1400px;
    margin: 0 auto 50px;
}
.section-title{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.single-product{
    border-radius: 10px;
    background-color: #e6e9eb;
    padding: 10px 10px 15px;
    box-shadow: 2px 2px 4px 0px #00000061;
}
.single-product img{
    width: 80%;
    display: block;
    margin: auto;
}
.buy-now{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buy-now a{
    padding: 10px;
    background-color: #9376e0;
    border-radius: 25px;
}
.product-links{
    display: flex;
    gap: 10px;
}
.fa-solid, .fa-regular{
    color: #ffffff;
    font-size: 18px;
}
.product-title{
    font-weight: 600;
    font-size: 20px;
}
.product-description{
    font-size: 15px;
}

/* products section styles ends here  */

.discounts{
    background-color: #9376e0;
}
.discounts-container{
    min-height: 400px;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
}
.discount-item-img{
    width: 50%;
    position: relative;
    padding: 50px;
}
.discount-item-img img{
    
}
.discount-rate{
    width: 90px;
    height: 95px;
    background-color: #ffffff;
    position: absolute;
    top: 10%;
    left: 70%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.discount-info{
    width: 50%;
}
.discount-info .btn-primary{
    border-color: #ffffff;
    border-radius: 0;
    font-weight: 700;
    font-size: 18px;
}

/* discount section styles ends here  */











